.about-section{
    border: 2px solid rgb(33, 5, 58);
    background-color: rgb(33, 5, 58);
    padding: 30px;
}

.about-section h1{
    text-align: center;
    font-size: 3em;
    color: rgb(101, 10, 186);
}

.about-section h2{
    text-align: center;
    color: white;
}

.about-section .text{
    margin-left: 300px;
    color: white;
    font-size: 1.2em;
}

.about-section ul{
    margin-left: 300px;
    color: white;
    font-size: 1.2em;
}

.about-section .link-portfolio{
    text-align: center;
}

.about-section table{
    margin: auto;
    width: 100%;
    border-collapse: collapse;
}

.about-section th,td{
    border: 2px solid white;
    color: white;
    padding: 30px;
    font-size: 1.3em;
    text-align: center;
}

/* responsive design */

@media screen and (max-width: 768px) {
    .about-section .text{
        margin-left: 80px;
        font-size: 1em;
    }

    .about-section ul{
        margin-left: 80px;
        font-size: 1em;
    }

    .about-section th,td{
        padding: 15px;
        font-size: 1em;
    }
}