.header{
    border: 2px solid rgb(101, 10, 186);
    background-color: rgb(101, 10, 186);
    padding: 25px;
}

.header .header-icon{
    margin-left: 100px;
}

.header .header-icon a{
    text-decoration: none;
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.header .header-icon a span{
    border: 2px solid rgb(33, 5, 58);
    background-color: rgb(33, 5, 58);
    padding: 2px;
    border-radius: 5px;
}

.header .menu{
    float: right;
    margin-right: 100px;
    margin-top: -40px;
}

.header ul{
    display: flex;
}

.header .menu-item{
    list-style-type: none;
}

.header .menu-link{
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    transition: color 250ms;
}

.header .active{
    color: rgb(33, 5, 58);
}

.header .menu-link:hover{
    color: rgb(33, 5, 58);
}

/* responsive design */

@media screen and (max-width: 768px) {
    .header .header-icon{
        margin-left: 15px;
    }

    .header .menu{
        margin-right: 15px;
        margin-top: -55px;
    }

    .header ul{
        flex-direction: column;
    }
}