/* hero section */

.hero-section{
    border: 2px solid rgb(33, 5, 58);
    background-color: rgb(33, 5, 58);
    padding: 30px;
}

.hero-section .row{
    display: flex;
    justify-content: center;
}

.hero-section .col{
    padding: 5px;
}

.hero-section h1{
    font-size: 3em;
    color: rgb(101, 10, 186);
}

.hero-section p{
    color: white;
    font-size: 1.1em;
}

/* project section */

.project-section h1{
    text-align: center;
}

.project-section .row{
    display: flex;
    justify-content: center;
}

.project-section .col{
    padding: 5px;
}


/* form section */

.form-section{
    border: 2px solid rgb(33, 5, 58);
    background-color: rgb(33, 5, 58);
    padding: 30px;
}

.form-section h1{
    text-align: center;
    color: rgb(101, 10, 186);
}

.form-section form .row{
    display: flex;
    justify-content: center;
}

.form-section form .col{
    padding: 5px;
}

.form-section label{
    color: white;
}

.form-section input,textarea{
    outline: none;
}

.form-section input{
    width: 500px;
}

.form-section textarea{
    width: 1020px;
}

.form-section input:focus{
    border: 2px solid rgb(101, 10, 186);
}

.form-section textarea:focus{
    border: 2px solid rgb(101, 10, 186);
}