@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Roboto";
  margin: 0px;
  padding: 0px;
}

.btn {
  border: 2px solid rgb(32, 143, 187);
  background-color: rgb(32, 143, 187);
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  transition: all 350ms;
}
.btn:hover {
  border-color: rgb(24.5479452055, 109.698630137, 143.4520547945);
  background-color: rgb(24.5479452055, 109.698630137, 143.4520547945);
}

.header {
  border: 2px solid rgb(32, 143, 187);
  background-color: rgb(32, 143, 187);
}
.header__title {
  color: rgb(11, 41, 53);
  margin-left: 100px;
}
.header .navbar {
  float: right;
  margin-top: -90px;
  margin-right: 100px;
}
.header .navbar__nav {
  display: flex;
}
.header .navbar__nav .nav__item {
  list-style-type: none;
}
.header .navbar__nav .nav__item .nav__link {
  color: #fff;
  padding: 20px 30px;
  text-decoration: none;
  transition: color 300ms;
}
.header .navbar__nav .nav__item .nav__link:hover {
  color: rgb(11, 41, 53);
}
.header .navbar__nav .nav__item .nav__link--active {
  color: rgb(11, 41, 53);
}

.section-project h1 {
  text-align: center;
}
.section-project .row {
  display: flex;
  justify-content: center;
}
.section-project .row .col {
  margin: 8px;
}

.section-form {
  border: 2px solid rgb(11, 41, 53);
  background-color: rgb(11, 41, 53);
  padding: 20px;
}
.section-form h1 {
  text-align: center;
  color: rgb(32, 143, 187);
}
.section-form .form .row {
  display: flex;
  justify-content: center;
}
.section-form .form .row .col {
  margin: 8px;
}
.section-form .form .row .col .form__label {
  color: #fff;
}
.section-form .form .row .col .form__input {
  outline: none;
}
.section-form .form .row .col .form__input:focus {
  border: 2px solid rgb(32, 143, 187);
}
.section-form .form .row .col input {
  width: 500px;
}
.section-form .form .row .col textarea {
  width: 1020px;
}

.footer {
  border: 2px solid rgb(32, 143, 187);
  background-color: rgb(32, 143, 187);
}
.footer__title {
  margin-left: 100px;
  color: rgb(11, 41, 53);
}
.footer__social {
  float: right;
  margin-top: -70px;
  margin-right: 100px;
}

.section-introduce {
  border: 2px solid rgb(11, 41, 53);
  background-color: rgb(11, 41, 53);
  padding: 20px;
}
.section-introduce .row {
  display: flex;
  justify-content: center;
}
.section-introduce .row .col {
  margin: 8px;
}
.section-introduce .row .col h1 {
  font-size: 3em;
  color: rgb(32, 143, 187);
}
.section-introduce .row .col p {
  color: #fff;
  font-size: 1.2em;
}

.section-about {
  border: 2px solid rgb(11, 41, 53);
  background-color: rgb(11, 41, 53);
  padding: 20px;
}
.section-about h1 {
  text-align: center;
  color: rgb(32, 143, 187);
  font-size: 3em;
}
.section-about h2 {
  text-align: center;
  color: #fff;
}
.section-about .link-portfolio {
  text-align: center;
}
.section-about .text, .section-about ul {
  margin-left: 300px;
  color: #fff;
  font-size: 1.2em;
}
.section-about table {
  border-collapse: collapse;
  margin: auto;
}
.section-about table th, .section-about table td {
  border: 3px solid #fff;
  padding: 50px;
  color: #fff;
  font-size: 1.2em;
}

/*# sourceMappingURL=main.css.map */
