@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

.btn {
  border: 2px solid rgb(153, 30, 210);
  background-color: rgb(153, 30, 210);
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  transition: all 300ms;
}
.btn:hover {
  border-color: rgb(120.4875, 23.625, 165.375);
  background-color: rgb(120.4875, 23.625, 165.375);
}

.header {
  border: 2px solid rgb(153, 30, 210);
  background-color: rgb(153, 30, 210);
}
.header__title {
  margin-left: 100px;
  color: rgb(26, 9, 34);
}
.header .navbar {
  float: right;
  margin-top: -90px;
  margin-right: 100px;
}
.header .navbar__nav {
  display: flex;
}
.header .navbar__nav .nav__item {
  list-style-type: none;
}
.header .navbar__nav .nav__item .nav__link {
  text-decoration: none;
  padding: 15px 20px;
  color: #fff;
  transition: color 350ms;
}
.header .navbar__nav .nav__item .nav__link--active {
  color: rgb(26, 9, 34);
}
.header .navbar__nav .nav__item .nav__link:hover {
  color: rgb(26, 9, 34);
}

@media screen and (max-width: 767px) {
  .header__title {
    margin-left: 10px;
  }
  .header .navbar {
    margin-top: -105px;
    margin-right: 10px;
  }
  .header .navbar__nav {
    flex-direction: column;
    align-items: center;
  }
}
.section-projects h1 {
  text-align: center;
}
.section-projects .row {
  display: flex;
  justify-content: center;
}
.section-projects .row .col {
  padding: 5px;
}

.section-landscape h1 {
  text-align: center;
}
.section-landscape .row {
  display: flex;
  justify-content: center;
}
.section-landscape .row .col {
  padding: 5px;
}
.section-landscape .row .col a {
  position: relative;
}
.section-landscape .row .col a .photo-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 1.2em;
  display: none;
  margin-top: -185px;
}
.section-landscape .row .col a:hover .photo-hover {
  display: flex;
}

.section-portrait h1 {
  text-align: center;
}
.section-portrait .row {
  display: flex;
  justify-content: center;
}
.section-portrait .row .col {
  padding: 5px;
}
.section-portrait .row .col a {
  position: relative;
}
.section-portrait .row .col a .photo-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 1.2em;
  display: none;
  margin-top: -435px;
}
.section-portrait .row .col a:hover .photo-hover {
  display: flex;
}

@media screen and (max-width: 767px) {
  .section-projects .row {
    flex-direction: column;
    align-items: center;
  }
  .section-projects .row .col {
    margin: 10px;
  }
  .section-landscape .row {
    flex-direction: column;
    align-items: center;
  }
  .section-landscape .row .col {
    margin: 10px;
  }
  .section-portrait .row {
    flex-direction: column;
    align-items: center;
  }
  .section-portrait .row .col {
    margin: 10px;
  }
}
.section-form {
  border: 2px solid rgb(26, 9, 34);
  background-color: rgb(26, 9, 34);
  padding: 30px;
}
.section-form h1 {
  text-align: center;
  color: rgb(153, 30, 210);
}
.section-form .form__section {
  display: flex;
  justify-content: center;
}
.section-form .form__section .col {
  padding: 5px;
}
.section-form .form__section .col .form__label {
  color: #fff;
}
.section-form .form__section .col .form__input {
  outline: none;
  color: rgb(153, 30, 210);
  font-weight: bold;
}
.section-form .form__section .col .form__input:focus {
  border: 2px solid rgb(153, 30, 210);
}
.section-form .form__section .col input {
  width: 500px;
  padding: 3px;
}
.section-form .form__section .col textarea {
  width: 1020px;
}

@media screen and (max-width: 767px) {
  .section-form .form__section {
    flex-direction: column;
    align-items: center;
  }
  .section-form .form__section .col {
    margin: 10px;
  }
  .section-form .form__section .col .form__input {
    width: 300px;
  }
}
.footer {
  border: 2px solid rgb(153, 30, 210);
  background-color: rgb(153, 30, 210);
}
.footer__title {
  margin-left: 100px;
  color: rgb(26, 9, 34);
}
.footer__social {
  float: right;
  margin-top: -70px;
  margin-right: 100px;
}
.footer__social a:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .footer__title {
    margin-left: 10px;
  }
  .footer__social {
    margin-right: 10px;
  }
}
.section-introduce {
  border: 2px solid rgb(26, 9, 34);
  background-color: rgb(26, 9, 34);
  padding: 30px;
}
.section-introduce .row {
  display: flex;
  justify-content: center;
}
.section-introduce .row .col {
  padding: 5px;
}
.section-introduce .row .col h1 {
  font-size: 3em;
  color: rgb(153, 30, 210);
}
.section-introduce .row .col p {
  margin-top: -20px;
  color: #fff;
  font-size: 1.1em;
}

@media screen and (max-width: 767px) {
  .section-introduce .row {
    flex-direction: column;
    align-items: center;
  }
  .section-introduce .row .col {
    margin: 10px;
  }
  .section-introduce .row .col img {
    width: 350px;
  }
}
.section-about {
  border: 2px solid rgb(26, 9, 34);
  background-color: rgb(26, 9, 34);
  padding: 30px;
}
.section-about h1 {
  text-align: center;
  color: rgb(153, 30, 210);
  font-size: 3em;
}
.section-about h2 {
  text-align: center;
  color: #fff;
}
.section-about .text, .section-about ul {
  margin-left: 300px;
  font-size: 1.2em;
  color: #fff;
}
.section-about .link {
  text-align: center;
}
.section-about table {
  margin: auto;
  border-collapse: collapse;
}
.section-about table th, .section-about table td {
  color: #fff;
  border: 2px solid #fff;
  padding: 30px;
  font-size: 1.2em;
}

@media screen and (max-width: 767px) {
  .section-about .text, .section-about ul {
    margin-left: 70px;
  }
  .section-about table th, .section-about table td {
    padding: 15px;
    font-size: 1em;
  }
}
.section-title {
  border: 2px solid rgb(26, 9, 34);
  background-color: rgb(26, 9, 34);
  padding: 30px;
}
.section-title h1 {
  margin-left: 100px;
  font-size: 3em;
  color: rgb(153, 30, 210);
}

/*# sourceMappingURL=main.css.map */
