/* portfolio section */

.portfolio-section{
    border: 2px solid rgb(33, 5, 58);
    background-color: rgb(33, 5, 58);
}

.portfolio-section h1{
    margin-left: 100px;
    font-size: 3em;
    color: rgb(101, 10, 186);
}

/* ladnscape images */

.landscape-images h1{
    text-align: center;
}

.landscape-images .row{
    display: flex;
    justify-content: center;
}

.landscape-images .col{
    padding: 5px;
}

.landscape-images a{
    position: relative;
}

.landscape-images .text-over{
    margin-top: -320px;
    margin-bottom: 3px;
}

.landscape-images a:hover .text-over{
    display: flex;
}


/* portrait images */

.portrait-images h1{
    text-align: center;
}

.portrait-images .row{
    display: flex;
    justify-content: center;
}

.portrait-images .col{
    padding: 5px;
}

.portrait-images a{
    position: relative;
}

.portrait-images .text-over{
    margin-top: -735px;
    margin-bottom: 3px;
}

.portrait-images a:hover .text-over{
    display: flex;
}

/* responsive design */

@media screen and (max-width: 768px) {
    /* landscape images */

    .landscape-images .row{
        flex-direction: column;
        align-items: center;
    }

    .landscape-images .col{
        margin: 8px;
    }

    .landscape-images img{
        width: 350px;
        height: 350px;
    }

    /* portrait images */ 
    
    .portrait-images .row{
        flex-direction: column;
        align-items: center;
    }

    .portfolio-images .col{
        margin: 8px;
    }

    .portrait-images img{
        width: 350px;
        height:400px;
    }
}