.introduce{
    @include section-background;

    .row{
        @include flexbox;

        .col{
            padding: $padding-layout;

            h1{
                color: $color-primary;
                font-size: 3em;
            }

            p{
                color: $color-tertiary;
                font-size: 1.1em;
            }
        }
    }
}

//responsive design...

@include mobile-only{
    .introduce{
        .row{
            @include flexbox-responsive;

            .col{
                margin: $margin-layout;

                img{
                    width: 300px;
                }
            }
        }
    }
}