.introduce{
    @include section-background;

    .row{
        @include flexbox;

        .col{
            padding: $padding-grid;

            h1{
                font-size: $title-size;
                color: $color-primary;
            }

            p{
                color: $color-tertiary;
                font-style: italic;
                font-size: 1.2em;
            }
        }
    }
}

//responsive design...

@include mobile-only{
    .introduce{
        .row{
            @include flexbox-grid;

            .col{
                margin: $margin-grid;

                img{
                    width: 300px;
                }
            }
        }
    }
}