@mixin head-foot{
    border: 2px solid $color-primary;
    background-color: $color-primary;
}

@mixin button-style($color-default : $color-primary){
    text-decoration: none;
    color: $color-tertiary;
    border: 2px solid $color-default;
    background-color: $color-default;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms;
}

@mixin transition-button{
    background-color: darken($color-primary, 10);
    border-color: darken($color-primary, 10);
}

@mixin section-background{
    border: 2px solid $color-secondary;
    background-color: $color-secondary;
    padding: 20px;
}

@mixin flexbox{
    display: flex;
    justify-content: center;
}

@mixin photo-hover{
     position: absolute;
     top: 0;
     bottom: 0;
     right: 0;
     left: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     border: 1px solid rgba(0, 0, 0, 0.6);
     background-color: rgba(0, 0, 0, 0.6);
     font-size: 1.3em;
     color: $color-tertiary;
     margin-bottom: 3px;
     display: none;
}

@mixin mobileOnly{
    @media screen and (max-width: map-get($breakpoints, mobile)){
        @content;
    }
}

@mixin flexboxResponsive{
    flex-direction: column;
    align-items: center;
}