@mixin heade-foot{
    border: 2px solid $color-primary;
    background-color: $color-primary;
}

@mixin flexbox{
    display: flex;
    justify-content: center;
}

@mixin section-background($color-default: $color-secondary){
    border: 2px solid $color-default;
    background-color: $color-default;
    padding: 30px;
}

@mixin button($color){
    border: 2px solid $color;
    background-color: $color;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
    color: $color-tertiary;
    text-decoration: none;
    cursor: pointer;
    transition: all 350ms;
}

@mixin button-hover($color){
    border-color: darken($color, 10);
    background-color: darken($color, 10);
}

@mixin photo-hover{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
    color: $color-tertiary;
    font-size: 1.3em;
    margin-bottom: 3px;
    display: none;
}