//colors...
$color-primary: rgb(153, 30, 210);
$color-secondary: rgb(26, 9, 34);
$color-tertiary: #fff;

//layout...
$padding-grid: 5px;

//responsive design...
$breakpoints: (
    mobile: 767px
);

$margin-grid: 10px;