.project-form{
    @include sectionBackground;

    h1{
        text-align: center;
        color: $colorPrimary
    }

    .form{
        .row{
            @include flexbox;

            .col{
                padding: $paddingGrid;

                .form__label{
                    color: #fff;
                }

                input{
                    width: 500px;
                }

                textarea{
                    width: 1020px;
                }

                .form__input{
                    outline: none;

                    &:focus{
                        border: 2px solid $colorPrimary;
                    }
                }
            }
        }
    }
}

//responsive design...
@include mobileOnly{
    .project-form{
        .form{
            .row{
                @include flexboxGrid;

                .col{
                    margin: $marginGrid;

                    .form__input{
                        width: 300px;
                    }
                }
            }
        }
    }
}