.footer{
    @include head-foot;

    &__title{
        margin-left: 100px;
        color: $color-secondary;
    }

    &__social{
        float: right;
        margin-top: -80px;
        margin-right: 100px;

        a:hover{
            opacity: 0.8;
        }
    }
}