.footer{
    @include head-foot;
    
    &__title{
        margin-left: 100px;
        color: $color-secondary;
    }

    &__social{
        float: right;
        margin-top: -70px;
        margin-right: 100px;
    }
}

//responsive design...
@include mobileOnly{
    .footer{
        &__title{
            margin-left: 10px;
        }

        &__social{
            margin-right: 10px;
        }
    }
}