.form-project{
    @include section-background;

    h1{
        text-align: center;
        color: $color-primary
    }

    .form{
        .row{
            @include flexbox;

            .col{
                padding: $padding-grid;

               .form__label{
                   color: $color-tertiary;
               }

               .form__input{
                    outline: none;

                    &:focus{
                        border: 2px solid $color-primary;
                    }
               }

               input{
                 width: 500px;
               }

               textarea{
                    width: 1020px;
               }
            }
        }
    }
}

//resposive design...

@include mobile-only{
    .form-project{
        .form{
            .row{
                @include flexbox-grid;

                .col{
                    margin: $margin-grid;

                    .form__input{
                        width: 300px;
                    }
                }
            }
        }
    }
}