.section-project{
    h1{
        text-align: center;
    }

    .row{
        @include flexbox;

        .col{
            margin: $margin-grid;
        }
    }
}

.section-landscape{
    h1{
        text-align: center;
    }

    .row{
        @include flexbox;

        .col{
            margin: $margin-grid;

            a{
                position: relative;

                .photo-hover{
                    @include photo-hover;
                    margin-top: -187px;
                    margin-bottom: 3px;
                }

                 &:hover .photo-hover{
                    display: flex;
                }
            }
        }
    }
}

.section-portrait{
    h1{
        text-align: center;
    }

    .row{
        @include flexbox;

        .col{
            margin: $margin-grid;

             a{
                position: relative;

                .photo-hover{
                    @include photo-hover;
                    margin-top: -437px;
                    margin-bottom: 3px;
                }

                &:hover .photo-hover{
                    display: flex;
                }
            }
        }
    }
}

//resposive design...
@include mobileOnly{
    .section-project{
    .row{
        @include flexbox-responsive;

        .col{
            padding: $padding-grid;
        }
    }
}

.section-landscape{
    .row{
        @include flexbox-responsive;

        .col{
            padding: $padding-grid;
        }
    }
}

.section-portrait{
    .row{
        @include flexbox-responsive;

        .col{
            padding: $padding-grid;
        }
    }
}
}