.projects{
    h1{
        text-align: center;
    }

    .row{
        @include flexbox;

        .col{
            padding: $padding-grid;
        }
    }
}

.landscape{
    h1{
        text-align: center;
    }

    .row{
        @include flexbox;

        .col{
            padding: $padding-grid;

            a{
                position: relative;

                .photo-hover{
                    @include photo-hover;
                    margin-top: -185px;
                }

                &:hover .photo-hover{
                    display: flex;
                }
            }
        }
    }
}

.portrait{
    h1{
        text-align: center;
    }

    .row{
        @include flexbox;

        .col{
            padding: $padding-grid;

             a{
                position: relative;

                .photo-hover{
                    @include photo-hover;
                    margin-top: -435px;
                }

                &:hover .photo-hover{
                    display: flex;
                }
            }
        }
    }
}