.project{
    &__title{
        text-align: center;
    }

    .row{
        @include flexbox;

        .col{
            padding: $paddingGrid;
        }
    }
}


.landscape{
    h1{
        text-align: center;
    }

    .row{
        @include flexbox;

        .col{
            padding: $paddingGrid;

            a{
                position: relative;

                .photo-hover{
                    @include photoHover;
                    margin-top: -318px;
                }

                &:hover .photo-hover{
                    display: flex;
                }
            }
        }
    }
}


.portrait{
    h1{
        text-align: center;
    }

    .row{
        @include flexbox;

        .col{
            padding: $paddingGrid;

            a{
                position: relative;

                .photo-hover{
                    @include photoHover;
                    margin-top: -735px;
                }

                &:hover .photo-hover{
                    display: flex;
                }
            }
        }
    }
}

//responsive design...
@include mobileOnly{
    .project{
        .row{
            @include flexboxGrid;

            .col{
                margin: $marginGrid;
            }
        }
    }

    .landscape{
        .row{
            @include flexboxGrid;

            .col{
                margin: $marginGrid;

                img{
                    width: 350px;
                    height: 200px
                }
            }
        }
    }

     .portrait{
        .row{
            @include flexboxGrid;

            .col{
                margin: $marginGrid;

                img{
                    width: 350px;
                    height: 450px;
                }
            }
        }
    }
}