.header{
    @include head-foot;

    &__title{
        margin-left: 150px;
        color: $color-secondary;
    }

    .navbar{
        float: right;
        margin-top: -90px;
        margin-right: 100px;

        &__nav{
            display: flex;
        
            .nav__item{
                list-style-type: none;

                .nav__link{
                    color: $color-tertiary;
                    text-decoration: none;
                    padding: 15px 20px;
                    transition: color 250ms;

                    &--active{
                        color: $color-secondary;
                        text-decoration: none;
                    }

                    &:hover{
                        color: $color-secondary
                    }
                }
            }
        }
    }
}

//responsive design...
@include mobileOnly{
    .header{
        &__title{
            margin-left: 10px;
        }

        .navbar{
            margin-right: 10px;

            &__nav{
                @include flexboxResponsive;
                margin-top: -5px;
                
                .nav__link{
                    padding: 5px 10px;
                }               
             }
        }
    }
}