.header{
    @include head-foot;

    &__title{
        color: $color-secondary;
        margin-left: 100px;
    }

    .navbar{
        float: right;
        margin-top: -90px;
        margin-right: 100px;

        &__nav{
            display: flex;

            .nav__item{
                list-style-type: none;

                .nav__link{
                    color: $color-tertiary;
                    padding: 20px 30px;
                    text-decoration: none;
                    transition: color 300ms;

                    &:hover{
                        color: $color-secondary;
                    }

                    &--active{
                        color: $color-secondary
                    }
                }
            }
        }
    }
}

//header responsive...
@include mobileOnly{
    .header{
        &__title{
            margin-left: 10px;
        }
        .navbar{
            margin-right: 10px;
            margin-top: -105px;

            &__nav{
                flex-direction: column;
            }
        }
    }
}