.header{
    @include heade-foot;

    &__title{
        color: $color-secondary;
        margin-left: 100px;
    }

    .navbar{
        float: right;
        margin-top: -90px;
        margin-right: 100px;

        &__nav{
            display: flex;

            .nav__item{
                list-style-type: none;

                .nav__link{
                    padding: 20px 30px;
                    text-decoration: none;
                    color: $color-tertiary;
                    transition: color 250ms;

                    &:hover{
                        color: $color-secondary;
                    }

                    &--active{
                        color: $color-secondary;
                    }
                }
            }
        }
    }
}

//resposive design...

@include mobile-only{
    .header{

        &__title{
            margin-left: 10px;
        }

        .navbar{
           margin-top: -100px;
           margin-right: 10px;

           &__nav{
                flex-direction: column;
           }
        }
    }
}